<!--
<%= image_tag 'screenshot3.jpg', class: 'product_img' %>
<%= image_tag 'instagram-logo.jpg', class: 'logo_img' %> -->
<div class='brand'>
    <h1>HorschGallery</h1>
    <p><%= link_to 'Log In', '/login' %></p>
</div>

<div class='collect_info_container'>

    <div class= 'subheader'>
        <h3>Sign Up</h3>
        <!-- <p>Share and communicate your most memorable moments of living in Chicago with others around the city.</p> -->
    </div>

    <% if @user.errors.any? %>
        <div id="error_explanation">
            <div class="alert alert-error">
                The form contains <%= pluralize(@user.errors.count, "error") %>.
            </div>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li class='alert-row'><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <%= form_for(@user) do |f| %>

    <p><%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name'  %></p>

    <p><%= f.label :email %>
    <%= f.text_field :email, placeholder: 'Email'  %></p>

    <p><%= f.label :user_name, "Username" %>
    <%= f.text_field :user_name, placeholder: 'Username'  %></p>

    <p><%= f.label :dob, 'Birthday'%>
    <%= f.text_field :dob, :class => "datepicker", placeholder: 'Birthday'  %></p>

    <p><%= f.label :password %>
    <%= f.password_field :password, placeholder: 'Password'  %></p>

    <p><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation'  %></p>

    <p><%= f.submit "Create my account", class: "btn btn-large btn-primary" %></p>
    <% end %>


    <p class='footer'>Already have an account?  <%= link_to 'Log in', '/login' %></p>

</div>




