<div class='collect_info_container'>

    <div class='subheader'>
        <h3>HorschGallery</h3>
        <!-- p>What's Not To Love About Chicago?</p>
        <p>So many memories, but so easy to forget.</p> -->
        <p class='sellpoint'>Sign up to discuss & share your favorite memories of Chicago from our 30+ year photography collection.<br><br>
            We can't wait to show you this spectacular view of the city.</p>
        <!-- <p>Sign up now to relive your memories of Chicago through photography.</p> -->
</div>

    <%= form_for(@user) do |f| %>


        <% if @user.errors[:name].any? %>
    <span class='alert-row'>
            Please enter first & last name
    </span>
         <% end %>


    <%= f.text_field :name, placeholder: 'Name' , id: 'form-email' %>

        <% if @user.errors[:email].any? %>
    <span class='alert-row'>
            That email doesn't look valid
    </span>
         <% end %>


    <%= f.text_field :email, placeholder: 'Email'  %>

        <% if @user.errors[:user_name].any? %>
    <span class='alert-row'>
            Sorry, that username is taken
    </span>
         <% end %>


    <%= f.text_field :user_name, placeholder: 'Username'  %>

        <% if @user.errors[:dob].any? %>
    <span class='alert-row'>
            Please choose a correct date
    </span>
         <% end %>


    <%= f.text_field :dob, :class => "datepicker", placeholder: 'Birthday'  %>

        <% if @user.errors[:password].any? %>
     <span class='alert-row' >
            Your password must be more than 6 characters
    </span>
         <% end %>


    <%= f.password_field :password, placeholder: 'Password', id: 'pswd_fld'  %>

      <span class="show_password"><input  type="checkbox" name="show_password_checkbox"  id="show_password_checkbox" value="1"  >
      <label for="show_password_checkbox" >Show Password</label></span>

    <p><%= f.submit "Sign Up", class: "btn btn-large btn-primary" %></p>
<% end %>

<div>

</div>

<p class='footer'>Already have an account?  <%= link_to 'Log in', '/login' %></p>
<p class='terms'>By clicking Sign Up below, you are agreeing to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>




