<header>
      <nav>
          <% if signed_in? %>
            <ul class='navbar'>
                <li><%= link_to current_user.name.capitalize, current_user %></li>  |
                <li><%= link_to "Sign out", '/logout', method: "delete" %></li>
            </ul>
          <% else %>
            <li><%= link_to "Sign in", '/login' %></li>
          <% end %>
      </nav>
  </header>

<div class="userinfo">

<h1> <%= @user.name.capitalize %>'s  Profile Page<h1>
Email: <%= @user.email %></h1>
<p class = 'gravatar'><%= gravatar_for @user %></p>

</div>
