<header>
      <nav>
          <% if signed_in? %>
            <ul>
                <li><%= link_to current_user.name.capitalize, current_user %></li>  |
                <li><%= link_to "Sign out", '/logout', method: "delete" %></li>
            </ul>
          <% else %>
            <li><%= link_to "Sign in", '/login' %></li>
          <% end %>
      </nav>
  </header>

<h1> Profile Page<h1>

<%= @user.name %> | <%= @user.email %></h1>
