<!DOCTYPE html>
<html>
<head>
  <title>GatewayForm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Duru+Sans|Krona+One|Hammersmith+One' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

</head>
<body>


    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


<%= yield %>

</body>
</html>
